---
layout: default
title: Home
---

<header class="intro-header">
  <img src="/assets/images/headshot.jpg" alt="Tina Ma" class="profile-pic">

  <div class="intro-text">
    <h1>Hi, I'm Tina Ma.</h1>
    <p>I am currently pursuing a major in Computer Engineering along with a minor in User Experience Design at the University of Michigan.</p>
    <p>Building efficient systems with user-centric design.</p>
    <a href="/resume/" class="btn-primary">View Resume</a>
  </div>
</header>

<h2>Recent Projects</h2>
<div class="project-grid project-grid-vertical">
  {% for post in site.posts %}
    {% if post.featured == true %}
      
        <div class="card">
          <div class="card-content">
            <span class="tag {{ post.categories }}">{{ post.categories }}</span>
            <h3>{{ post.title }}</h3>
            <p>{{ post.description }}</p>
            <a href="{{ post.url }}" class="read-more">Read More &rarr;</a>
          </div>
          {% if post.image %}
            <img src="{{ post.image }}" alt="{{ post.title }}" class="card-image">
          {% endif %}
        </div>

    {% endif %}
  {% endfor %}
</div>

<div class="projects-more">
  <a href="/projects/" class="btn-secondary">View More Projects</a>
</div>